<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current residence</title>
</head>
<body>
<h2>Current residence</h2>
<form method="post">{% csrf_token %}
    <a>Please enter your location: </a>
    <br>
    <input type="text" name="lat" placeholder="write here your lat...">
    <input type="text" name="lng" placeholder="write here your lng...">
    <br>
    <input type="text" name="radius" placeholder="write here radius = 5000">
    <br>
    <input type="submit" value="hit here">
    <br>
</form>
<br>
<a href="logout page">logout</a>

</body>
</html>